body {
  background-image: url("mrt.jpg");
  background-size: cover;
  background-position: center; 
}

.container.bg-info {
    text-align: center;
    background-color: rgba(13, 202, 240, 0.1) !important; 
    backdrop-filter: blur(8px);
}

.footer {
  position: fixed-bottom;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 40px;
}


