html, body {
  height: 100%;
  margin: 0;
  font-family: Gill Sans, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("mrt.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding-top: 60px;
  box-sizing: border-box;
}

main {
  flex: 1;
  padding: 20px 0;
}

.container.bg-info {
    text-align: center;
    background-color: rgba(13, 202, 240, 0.1) !important; 
    backdrop-filter: blur(8px);
}

#footer {
  background-color: rgba(0,0,0,0.6);
  width: 100%;
  padding: 10px 0;
  text-align: center;
  margin-top: auto;
}

#createAccountBtn {
  display: flex;
  justify-content: flex-end;
}

.navbar-nav .nav-link {
  font-size: small;
}

.overlay {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    background: rgb(173, 209, 219);
    padding: 30px;
    border-radius: 10px;
    max-width: 800px;
    width: 100%;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3)
}

.profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}

.ProfileImg {
    border-radius: 50%;
    object-fit: cover;
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
}

.ChoosingProfile {
    text-align: center;
}

h2 {
    font-family: Impact, sans-serif;
    text-align: center;
}



